
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>-•Ardhi Xsquerpant'S-卂卩丨丂•-</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

	<link type="text/css" rel="stylesheet" href="/font-awesome.min.css" />
  <link type="text/css" rel="stylesheet" href="/gaya.css" />

  <script>
    alert(`LU SIAPA ASYU!!`)
  </script>
<script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',3933570,document.body||document.documentElement)</script>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
            <style>
            .center {
              margin-left: auto;
              margin-right: auto;
              width: 50%;
            }
            </style>
</head>

  <body style="background-color: black" class="is-preload" id="div_root">

	<div id="notfound">
		<div class="notfound-bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
    </div>
    <div class="notfound">
      <div class="notfound-404">
        <h1 class="center">ArdhiXsquerpant'S -•卂卩丨丂•-</h1>
   <h3><a href="https://www.instagram.com/ardhixsquerpants/">>•INSTAGRAM•<</a></h3>
        <table class="center">
          <tr>
            <th class="eg1">API</th>
            <th class="eg4">Parameter</th>
            <th class="eg3">Usage</th>
          </tr>
         <tr>
            <td>Instagram Stalker</td>
            <td>username</td>
            <td><a target="_blank" rel="noopener noreferrer" href="/api/stalk?username=ardhixsquerpants">Example</a></td>
          </tr>
          <tr>
         <td>Instagram Downloader</td>
	     <td>url</td>
	     <td><a target="_blank" rel="noopener noreferrer" href="/api/ig?url=https://www.instagram.com/p/CKocXXQpyJc">Example</a></td>
	     </tr>
          <tr>
            <td>Random Quotes</td>
            <td>-</td>
            <td><a target="_blank" rel="noopener noreferrer" href="/api/randomquotes">Example</a></td>
          </tr>
          <tr>
            <td>Random Anime Quotes</td>
            <td>-</td>
            <td><a target="_blank" rel="noopener noreferrer" href="/api/quotesnime/random">Example</a></td>
          </tr>
          <tr>
            <td>Wikipedia</td>
            <td>q</td>
            <td><a target="_blank" rel="noopener noreferrer" href="/api/wiki?q=Pisang">Example</a></td>
          </tr>
          <tr>
            <td>Random Waifu</td>
            <td>-</td>
            <td><a target="_blank" rel="noopener noreferrer" href="/api/waifu">Example</a></td>
          </tr>
          <tr>
          <tr>
              <td>Info Gempa</td>
              <td>-</td>
              <td><a target="_blank" rel="noopener noreferrer" href="/api/infogempa">Example</a></td>
          </tr>
            <td>Random Nekonime</td>
            <td>-</td>
            <td><a target="_blank" rel="noopener noreferrer" href="/api/nekonime">Example</a></td>
          </tr>

          <!--<tr>
              <td>Informasi Cuaca</td>
              <td>q</td>
              <td><a target="_blank" rel="noopener noreferrer" href="/api/cuaca?q=Bogor">Example</a></td>
          </tr>
           <tr>
              <td>Jadwal Sholat</td>
              <td>daerah</td>
              <td><a target="_blank" rel="noopener noreferrer" href="/api/jadwalshalat?daerah=Bogor">Example</a></td>
          </tr>-->

          <tr>
            <td>Chord Guitar</td>
            <td>q</td>
            <td><a target="_blank" rel="noopener noreferrer" href="/api/chord?q=aku+bukan+boneka">Example</a></td>
          </tr>
          <tr>
            <td>Dewabatch scraper</td>
            <td>q</td>
            <td><a target="_blank" rel="noopener noreferrer" href="/api/dewabatch?q=darling+in+the+franxx">Example</a></td>
          </tr>

          <!--<tr>
          <td>Komiku scraper</td>
              <td>q</td>
              <td><a target="_blank" rel="noopener noreferrer" href="/api/komiku?q=kanojo+okarishimasu">Example</a></td>
              </tr>
              <tr>
              <td>Otakudesu scraper</td>
              <td>q</td>
              <td><a target="_blank" rel="noopener noreferrer" href="/api/otakudesu?q=Naruto">Example</a></td>
          </tr>-->

          <tr>
              <td>Kusonime scraper</td>
              <td>q</td>
              <td><a target="_blank" rel="noopener noreferrer" href="/api/kuso?q=kanojo+okarishimasu">Example</a></td>
          </tr>
          <tr>
                 <td>Spam sms</td>
                 <td>no&jum</td>
                 <td><a target="_blank" rel="noopener noreferrer" href="/api/spamsms?no=088294052009&jum=3">Example</a></td>
             <tr>
                 <td>Spam call</td>
                 <td>no</td>
                 <td><a target="_blank" rel="noopener noreferrer" href="/api/spamcall?no=88294052009">Example</a></td>
             </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
