
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>-•ArdhiXsquerpant'S-卂卩丨丂•-</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

	<link type="text/css" rel="stylesheet" href="/static/css-api/font-awesome.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/css-api/gaya.css" />

  <script>
    alert(`LU SIAPA ASYUU?`)
  </script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
            <style>
            .center {
              margin-left: auto;
              margin-right: auto;
              width: 50%;
            }
            </style>
</head>

<body>

	<div id="notfound">
		<div class="notfound-bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
    </div>
    <div class="notfound">
      <div class="notfound-404">
        <h1 class="center">Ardhi Xsquerpant'S-APIs</h1>
        <table class="center">
            <body style="background-color: white" class="is-preload" id="div_root">
    <table>
      <tr>
        <th class="eg1">API</th>
        <th class="eg2">Description</th>
        <th class="eg4">Parameter</th>
        <th class="eg3">Usage</th>
      </tr>
              </tr>
        <td bgcolor="red">Instagram Image/Video Downloader</td>
        <td>Mengambil Link download dari link post Instagram.</td>
        <td>url</td>
        <td><a href="/api/ig?url=https://www.instagram.com/p/CKocXXQpyJc">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="red">Instagram Stalker</td>
        <td>Menampilkan jumlah foll, jumlah post, bio, dll dari akun Instagram.</td>
        <td>username</td>
        <td><a href="/api/stalk?username=ardhixsquerpants">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="red">Jadwal Sholat sesuai Daerah</td>
        <td>Mengambil Jadwal Sholat sesuai Daerah. Untuk melihat daerah-daerah yang tersedia, <a href="/daerah">lihat disini</a>.</td>
        <td>daerah</td>
        <td><a href="/api/jadwalshalat?daerah=Bogor">Example</a></td>
      </tr>
      <tr>
      	<td bgcolor="red">Informasi Cuaca</td>
      	<td>Mengambil informasi cuaca sesuai tempat/daerah/lokasi.</td>
      	<td>q</td>
      	<td><a href="/api/cuaca?q=Bogor">Example</a></td>
      </tr>
        <td bgcolor="red">Random Quotes</td>
        <td>Mengambil kutipan kutipan dari tokoh-tokoh dunia.</td>
        <td>-</td>
        <td><a href="/api/randomquotes">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="red">Random Anime Quotes</td>
        <td>Mengambil kutipan kutipan dari tokoh-tokoh anime.</td>
        <td>-</td>
        <td><a href="/api/quotesnime/random">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="red">Wikipedia.</td>
        <td>Mencari apapun yang ada di wikipedia.</td>
        <td>q</td>
        <td><a href="/api/wiki?q=Pisang">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="red">Random Waifu</td>
        <td>Mengambil Random Waifu dari mywaifulist.moe</td>
        <td>-</td>
        <td><a href="/api/waifu">Example</a></td>
      </tr>
      <tr>
      <tr>
      	<td bgcolor="red">Info Gempa</td>
      	<td>Mengambil data gempa dari bmkg</td>
      	<td>-</td>
      	<td><a href="/api/infogempa">Example</a></td>
      </tr>
        <td bgcolor="red">Random Nekonime</td>
        <td>Mengambil Random Nekonime</td>
        <td>-</td>
        <td><a href="/api/nekonime">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="red">Search Chord Guitar</td>
        <td>Mencari chord gitar dari chordindonesia.com.</td>
        <td>q</td>
        <td><a href="/api/chord?q=Mantan">Example</a></td>
      </tr>
      <tr>
        <td bgcolor="red">Dewabatch scraper</td>
        <td>Mencari info anime dari website dewabatch.com</td>
        <td>q</td>
        <td><a href="/api/dewabatch?q=Naruto">Example</a></td>
      </tr>
      <tr>
      	<td bgcolor="red">Kusonime scraper</td>
      	<td>Mencari info anime dari website kusonime.com</td>
      	<td>q</td>
      	<td><a href="/api/kuso?q=Naruto">Example</a></td>
      </tr>
      <tr>
      	<td bgcolor="red">Otakudesu scraper</td>
      	<td>Mencari info anime dari website otakudesu.tv</td>
      	<td>q</td>
      	<td><a href="/api/otakudesu?q=Naruto">Example</a></td>
   	  </tr>
   	  <tr>
   	  	<td bgcolor="red">Komiku scraper</td>
   	  	<td>Mencari info manga dari website komiku.co.id</td>
   	  	<td>q</td>
   	  	<td><a href="/api/komiku?q=kanojo+okarishimasu">Example</a></td>
   	  </tr>
   	  <tr>
   	  	<td bgcolor="red">SPAM CALL</td>
             <td>Mengirim spam OTP call</td>
   	  	<td>no</td>
   	  	<td><a href="/api/spamcall?no=88294052009">Example</a></td>
   	  </tr>
   <tr>
   	  	<td bgcolor="red">SPAM SMS</td>
   	  	<td>Mengirim spam OTP sms</td>
   	  	<td>no&jum</td>
   	  	<td><a href="/api/spamsms?no=088294052009&jum=3">Example</a></td>
   	  </tr>
        </table>
      </div>
    </div>
  </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
